# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android / Gradle
.gradle/
local.properties

# iOS / macOS
Pods/
DerivedData/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*
!.env.example

